@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'SpaceGrotesck';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceGrotesck-Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}
:root,
* {
  touch-action: manipulation;
  font-feature-settings: 'liga';
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: proportional-nums;
  font-variant-east-asian: proportional-width;
  font-variant-caps: normal;
  font-variant-alternates: normal;
  font-family: 'SpaceGrotesck', sans-serif;
}
code {
  font-family: 'SpaceGrotesck-Mono', monospace;
}
code {
  font-size: 13px;
  line-height: 28px;

  @apply bg-secondary-200 rounded-xl font-mono border p-4;
}
